.root{
   -fx-background-color :#0b4d12;
}
.label{
  -fx-font-family:"Times New Roman";
}
#studentLabel{-fx-text-fill: whiteSmoke;-fx-font-size: 15px}
#gradeLabel{-fx-text-fill: whiteSmoke;-fx-font-size: 15px}
#dateLabel{-fx-text-fill: whiteSmoke;-fx-font-size: 15px}
#commentLabel{-fx-text-fill: whiteSmoke;-fx-font-size: 15px}
.button{
   -fx-background-color: sienna;
   -fx-text-fill:white;
}
.button:hover{
  -fx-background-color:saddleBrown;
  transition :0.7s;
}
#removeButton:hover{
  -fx-background-color:red;
  -fx-text-fill :white;
  transition :0.7s;
}
.label-style {
    -fx-font-size: 25px;
    -fx-text-fill: whiteSmoke;
    -fx-font-family:"Impact";
}
#profTable{
   -fx-background-color: #0b4d12;
}
#profTable .table-row-cell:hover .table-cell {
    -fx-background-color: #4d1d0b; /* Colore di sfondo quando trascini la cella */
}
#profTable .table-cell {
    -fx-background-color: #0b4d12;
    -fx-text-fill :whiteSmoke;
}
#profTable .table-row-cell:selected .table-cell {
    -fx-background-color: brown; /* Colore di sfondo quando la cella è selezionata */
}
