.root{
   -fx-background-color : #690099;
}
.label{
  -fx-font-family:"Times New Roman";
}
.label-style {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-family:"Impact";
}
#info{
  -fx-text-fill: whiteSmoke;
}
#info:hover{
  -fx-text-fill: bisque;
}
.button{
   -fx-background-color:khaki;
   -fx-text-fill:black;
}
.button_gold{
      -fx-background-color:khaki;
      -fx-text-fill:black;
}
#tableview{
  -fx-background-color: #690099;
}
#Tab_media{
   -fx-background-color:#690099;
}
#tableview .table-row-cell:hover .table-cell {
    -fx-background-color: #230033; /* Colore di sfondo quando trascini la cella */
}
#tableview .table-cell {
    -fx-background-color: #690099;
    -fx-text-fill :whiteSmoke;
}
#tableview .table-row-cell:selected .table-cell {
    -fx-background-color: black; /* Colore di sfondo quando la cella è selezionata */
}

#average_Table .table-cell:empty{
    -fx-background-color: #690099;
}
