.root{
   -fx-background-color :FireBrick;
}
.label{
  -fx-font-family:"Times New Roman";
}
#studentLabel{-fx-text-fill: white;-fx-font-size: 15px}
#gradeLabel{-fx-text-fill: white;-fx-font-size: 15px}
#dateLabel{-fx-text-fill: white;-fx-font-size: 15px}
#commentLabel{-fx-text-fill: white;-fx-font-size: 15px}
.button{
   -fx-background-color:whiteSmoke;
   -fx-text-fill:black;
}
.button:hover{
  -fx-background-color:Turquoise;
  transition :0.7s;
}
#removeButton:hover{
  -fx-background-color:red;
  -fx-text-fill :white;
  transition :0.7s;
}
.label-style {
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-font-family:"Impact";
}
#profTable{
   -fx-background-color: FireBrick;
}
#profTable .table-row-cell:hover .table-cell {
    -fx-background-color: darkCyan; /* Colore di sfondo quando trascini la cella */
}
#profTable .table-cell {
    -fx-background-color:FireBrick;
    -fx-text-fill :white;
}
#profTable .table-row-cell:selected .table-cell {
    -fx-background-color: grey; /* Colore di sfondo quando la cella è selezionata */
}
