.root{
   -fx-background-color :Goldenrod;
}
.label{
  -fx-font-family:"Times New Roman";
}
#studentLabel{-fx-text-fill: black;-fx-font-size: 15px}
#gradeLabel{-fx-text-fill: black;-fx-font-size: 15px}
#dateLabel{-fx-text-fill: black;-fx-font-size: 15px}
#commentLabel{-fx-text-fill: black;-fx-font-size: 15px}
.button{
   -fx-background-color: green;
   -fx-text-fill:white;
}
.button:hover{
  -fx-background-color:darkGreen;
  transition :0.7s;
}
#removeButton:hover{
  -fx-background-color:red;
  -fx-text-fill :white;
  transition :0.7s;
}
.label-style {
    -fx-font-size: 25px;
    -fx-text-fill: black;
    -fx-font-family:"Impact";
}
#profTable{
   -fx-background-color: Goldenrod;
}
#profTable .table-row-cell:hover .table-cell {
    -fx-background-color: yellowGreen; /* Colore di sfondo quando trascini la cella */
}
#profTable .table-cell {
    -fx-background-color: Goldenrod;
    -fx-text-fill :black;
}
#profTable .table-row-cell:selected .table-cell {
    -fx-background-color: yellowGreen; /* Colore di sfondo quando la cella è selezionata */
}
